<a href="https://colab.research.google.com/github/Sak1703/UCS420/blob/main/ASSIGNMNENT%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment 2

Q1

In [ ]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.append(200)
print("add 200 and 300")
L.append(300)
print(L)
L.remove(10)
L.remove(30)
print("remove 10,30",L)
L.sort()
print("assending order",L)
L.sort(reverse=True)
print("descending order",L)

add 200 and 300
[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
remove 10,30 [20, 40, 50, 60, 70, 80, 200, 300]
assending order [20, 40, 50, 60, 70, 80, 200, 300]
descending order [300, 200, 80, 70, 60, 50, 40, 20]

Q2

In [ ]:
scores = (75, 29.5, 69, 32, 89.5, 77, 58, 15)

highest_score = max(scores)
highest_score_index = scores.index(highest_score)
print("Highest score:", highest_score)
print("Index of highest score:", highest_score_index)

lowest_score = min(scores)
lowest_score_count = scores.count(lowest_score)
print("Lowest score:", lowest_score)
print("Count of lowest score:", lowest_score_count)

reversed_scores = list(scores[::-1])
print("Reversed tuple as list:", reversed_scores)

score_to_check = float(input("Enter a score to check: "))
if score_to_check in scores:
    first_occurrence_index = scores.index(score_to_check)
    print(f"The score {score_to_check} is present at index {first_occurrence_index}.")
else:
    print(f"The score {score_to_check} is not present in the tuple.")

Highest score: 92
Index of highest score: 5
Lowest score: 45
Count of lowest score: 2
Reversed tuple as list: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
Enter a score to check: 6
The score 6.0 is not present in the tuple.

Q3

In [ ]:
import random

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

random_numbers = [random.randint(100, 900) for _ in range(100)]

odd_numbers = [num for num in random_numbers if num % 2 != 0]
even_numbers = [num for num in random_numbers if num % 2 == 0]
prime_numbers = [num for num in random_numbers if is_prime(num)]

print("Odd numbers:", odd_numbers)
print("Even numbers:", even_numbers)
print("Prime numbers:", prime_numbers)
print("Count of odd numbers:", len(odd_numbers))
print("Count of even numbers:", len(even_numbers))
print("Count of prime numbers:", len(prime_numbers))

Odd numbers: [321, 123, 307, 843, 645, 709, 587, 189, 103, 371, 169, 209, 389, 263, 389, 213, 891, 361, 217, 717, 143, 577, 709, 287, 559, 825, 391, 687, 221, 407, 195, 221, 345, 365, 847, 465, 351, 569, 683, 647, 465, 541, 605, 645]
Even numbers: [142, 850, 360, 844, 436, 386, 612, 238, 886, 114, 230, 770, 812, 220, 384, 144, 580, 680, 758, 366, 234, 764, 486, 362, 192, 188, 558, 186, 832, 316, 416, 722, 198, 226, 376, 822, 238, 848, 656, 490, 196, 234, 770, 678, 858, 392, 204, 660, 204, 458, 314, 866, 810, 806, 120, 836]
Prime numbers: [307, 709, 587, 103, 389, 263, 389, 577, 709, 569, 683, 647, 541]
Count of odd numbers: 44
Count of even numbers: 56
Count of prime numbers: 13

Q4

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}
sample_dict["location"] = sample_dict.pop("city")
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}